@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #edf7f6;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 25px;
}

section {
  font-size: 20px;
}
.inputBlock {
  @apply flex flex-col gap-2;
}
.inputBlock > input,
textarea {
  @apply w-full rounded-lg px-4 py-4 shadow-md;
}

.pakButton {
  @apply w-full bg-[#1A9DD9] rounded-2xl px-2 py-4 text-white font-semibold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
